# Binaries for programs and plugins
bin/

# IDE-specific files
.vscode/
.idea/

# Environment files
.env
.env.local

# Log files
*.log

# Test output
coverage.txt
*.out

# Build artifacts
*.exe
*.test
*.prof

# OS-specific files
.DS_Store
Thumbs.db

# git
.git
.gitignore
.gitattributes
.github/

# docker
Dockerfile
docker-compose.yml